*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: 'Connection';
  src: url('../public/fonts/Connection-arMJ.otf') format('opentype'); /* Update with your actual font file name */
  font-weight: normal;
  font-style: normal;
}
body{
  margin: 1rem; /* Smaller margin for mobile */
  background-color: #1a1b26;
  border: 2px solid #565f89;
  font-family: 'Connection', sans-serif;
  
}

.hero{
  font-size: 40px; /* Adjusted for mobile */
  font-weight: 900;
}
.site-title {
  color: #bb9af7;
}
.subtext{
  font-size: 20px; /* Adjusted for mobile */
  font-weight: 900;
  color: #565f89;
}
body{
  background-color: #1a1b26;
  border: 2px solid #565f89;
  background-color: #1a1b26;
  
}
.navbar{
  border-top: 2px solid #565f89;
  padding: 20px;
}
.download{
  font-family: 'Connection', sans-serif;
  
}
.download:hover{
  color: #7aa2f7;
  cursor: pointer;
  text-decoration: underline;

}
main, .projects{
  font-size: 1rem;
  word-spacing: 2px;
  letter-spacing: 0.5px; /* Adjusted for mobile */
  list-style-type: disc;
  -moz-text-decoration-color: #565f89;
  -webkit-text-decoration-color: #565f89;
  -ms-text-decoration-color: #565f89;
  -o-text-decoration-color: #565f89;
  text-decoration-color: #565f89;
  padding: 20px 0px 20px 25px; /* Consistent padding */
}

main{
  color: #a9b1d6;
}

.projects{
  color: #c0caf5;
  padding-left: 25px;
}

ul>li::marker{
  color: #565f89;
 
}
@media (max-width: 768px) {
  main{
    padding-bottom: 20px;
  }

}
/* Apply desktop styles only on larger screens */
@media (min-width: 768px) {
  body {
    margin: 50px 100px;
  }
  .hero{
    font-size: 60px;
  }
  .subtext{
    font-size: 25px;
  }
  main, .projects{
    letter-spacing: 1px;
    padding-left: 40px;
  }
}